

body{
    background: url("../img/imgonline-com-ua-ReplaceColor-LlnI7ILIDhL9E7O.jpg") center;
    background-size :cover;
    height: 100vh;
}

.tableDiv {
    overflow-y: scroll;
}
.tableDiv::-webkit-scrollbar {
    width: 12px;
}

.tableDiv::-webkit-scrollbar-thumb {
    background: #888;
}

.tableDiv::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tableDiv::-webkit-scrollbar-track {
    background: transparent;
}

.input::placeholder, .select::placeholder, .search::placeholder{
    color: #919191;
}



.swal-modal {
    background-color: rgb(26, 26, 26);
    border: 3px solid #024d1b;
}

.swal-overlay {
    background-color: rgba(0, 0, 0, 0.70);
}

.swal-text {
    color: #ffffff;
    font-size: 20px;
}

.swal-title {
    color: #ffffff;
    font-size: 30px;
}

.swal-button {
    color: #ffffff;
    background-color: #014d1a;
}

.swal-button:hover {
    background-color: #039b35 !important;
}

.custom-cancel-btn{
        color: #ffffff;
        background-color: #340606;
}

.custom-cancel-btn:hover{
    background-color: #731010 !important;
}

.swal-icon--success:after, .swal-icon--success:before, .swal-icon--success__hide-corners{
    display: none;
}


    /*.custom-ok-btn{*/
/*    color: #ffffff;*/
/*    background-color: #987a41;*/

/*}*/

.custom-tooltip {
    --bs-tooltip-bg: rgb(21, 21, 21);
    --bs-tooltip-color: rgb(12, 154, 59);
}

@media all and (max-width: 768px){

    .menuContainer{
        display:none;
    }

    .menu{
        display: inline-block!important;
        width: 4%;
        position: absolute;
        right: 2vw;
    }
    .p-3{
        padding: 0.5rem!important;
    }

    .tableContent {
        width: 95%!important;
        margin-left: 1rem!important;
        padding: 0px!important;
    }

    #total{
        width: 90vw!important;
        margin-left: 1rem!important;
    }

    .top-50{
        top: 30%!important;
    }

    .img{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

}



